<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Details</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}">Header</div>
    <h2>Payment Details for Booking #<span th:text="${booking.id}"></span></h2>

    <p><strong>User:</strong> <span th:text="${booking.user.email}"></span></p>
    <p>
      <strong>Parking Spot:</strong>
      <span th:text="${booking.parkingSpot.location}"></span>
    </p>
    <p>
      <strong>Start Time:</strong> <span th:text="${booking.startTime}"></span>
    </p>
    <p><strong>End Time:</strong> <span th:text="${booking.endTime}"></span></p>
    <p>
      <strong>Amount:</strong> <span th:text="${booking.totalPrice}"></span> ETB
    </p>
    <p><strong>Status:</strong> <span th:text="${booking.status}"></span></p>
    <p>
      <strong>Vehicle Number:</strong>
      <span th:text="${booking.vehicleNumber}"></span>
    </p>

    <form
      th:action="@{/admin/payments/mark-paid/{id}(id=${booking.id})}"
      method="post"
      th:if="${booking.status != 'Completed'}"
    >
      <button type="submit">Mark as Paid</button>
    </form>

    <a href="/admin/payments">Back to Payments</a>
  </body>
</html>
