<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Payments</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}">Header</div>
    <h2>All Payments</h2>

    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>User</th>
          <th>Parking Spot</th>
          <th>Amount</th>
          <th>Payment Status</th>
          <th>Payment Method</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="booking : ${bookings}">
          <td th:text="${booking.id}"></td>
          <td th:text="${booking.user.email}"></td>
          <td th:text="${booking.parkingSpot.location}"></td>
          <td th:text="${booking.totalPrice} + ' ETB'"></td>
          <td th:text="${booking.status}"></td>
          <td th:text="${booking.paymentStatus}"></td>
          <td th:text="${booking.paymentMethod} ?: 'N/A'"></td>
          <td>
            <a th:href="@{/admin/payments/{id}(id=${booking.id})}">View</a>
            <form
              th:action="@{/admin/payments/mark-paid/{id}(id=${booking.id})}"
              method="post"
              th:if="${booking.status != 'Completed'}"
            >
              <button type="submit">Mark as Paid</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
