<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Bookings</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/bookings.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="flex flex-row">
      <h2>Your Bookings</h2>
      <a th:href="@{/parking-spots/select-time}" class="another"
        >Book Another Spot</a
      >
    </div>

    <table>
      <thead>
        <tr>
          <th>Spot</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Total Price</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="booking : ${bookings}">
          <td th:text="${booking.parkingSpot.location}"></td>
          <!-- Extract Date from startTime -->
          <td
            th:text="${#strings.substringBefore(booking.startTime, 'T')}"
          ></td>
          <!-- Extract only Time (HH:mm) -->
          <td th:text="${#strings.substringAfter(booking.startTime, 'T')}"></td>
          <td th:text="${#strings.substringAfter(booking.endTime, 'T')}"></td>
          <td th:text="${booking.totalPrice}"></td>
          <td th:text="${booking.status}"></td>
          <td>
            <a
              th:if="${booking.status == 'Active'}"
              th:href="@{/bookings/cancel/{id}(id=${booking.id})}"
            >
              Cancel
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
