<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parking Spot Management</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />

    <link rel="stylesheet" th:href="@{/css/parking-spots.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/admin-navbar :: admin-navbar}"></div>

    <h2>All Parking Spots</h2>
    <a href="/parking-spots/admin/add">Add Parking Spot</a>

    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Location</th>
          <th>Type</th>
          <th>Price Per Hour</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="spot : ${parkingSpots}">
          <td th:text="${spot.id}"></td>
          <td th:text="${spot.location}"></td>
          <td th:text="${spot.type}"></td>
          <td th:text="${spot.pricePerHour}"></td>
          <td>
            <a
              th:href="@{/parking-spots/admin/edit/{id}(id=${spot.id})}"
              class="edit"
              >Edit</a
            >
            <a
              th:href="@{/parking-spots/admin/delete/{id}(id=${spot.id})}"
              class="'del"
              onclick="return confirm('Are you sure?')"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
